@model WebApplication1.AcaoChamado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AcaoChamado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoAtendente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoAtendente.AteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoCategoria.CatNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoChamadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoChamadoNavigation.ChaCriador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoDepartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoDepartamento.DepEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AcaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
