@model IEnumerable<WebApplication1.AcaoChamado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcaoDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcaoAtendente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcaoCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcaoChamadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcaoDepartamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcaoDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcaoAtendente.AteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcaoCategoria.CatNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcaoChamadoNavigation.ChaCriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcaoDepartamento.DepEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AcaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AcaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AcaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
